<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325714813742-me68iclfkd366hg8b378pv6fspt2eqtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325714813742-me68iclfkd366hg8b378pv6fspt2eqtf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>325714813742-a6qudjd6mjqavjcsv9b7abrull1n9kj1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUuS-xHgIlaKKNjwGFRxDitDk4Rv_dc4g</string>
	<key>GCM_SENDER_ID</key>
	<string>325714813742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drmstc.deiChampions</string>
	<key>PROJECT_ID</key>
	<string>dei-champions</string>
	<key>STORAGE_BUCKET</key>
	<string>dei-champions.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325714813742:ios:07eadc00fb4e6e9bbe90bf</string>
</dict>
</plist>